{% extends "Header.html" %}

{% block title %}
To-Do List
{% endblock title %}

{% block content %}
<h1>Todo List</h1>

<form method="POST">
  {% csrf_token %}
  <input name="title" placeholder="Title" required />
  <textarea name="description" placeholder="Description"></textarea>
  <button type="submit">Add</button>
</form>


{% if todos %}
  <ul>
    {% for todo in todos %}
      <li>
        <strong>{{ todo.title }}</strong>
        <a href="{% url 'toggle_todo' todo.id %}">
          {% if todo.completed %}Mark Incomplete{% else %}Mark Complete{% endif %}
        </a>
        {% if todo.completed %}
          ✅
        {% else %}
          ❌
        {% endif %}

        {% if todo.description %}
          <p>{{ todo.description }}</p>
        {% endif %}

        <small>Created: {{ todo.created_at }}</small>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No todos yet.</p>
{% endif %}

{% endblock %}
